---
layout: default
title:
---

<span class="dim">raelog://home</span>

<header class="header">
  <p class="sub">Field notes. Observations. Unfinished thoughts.</p>
</header>

<section class="list">
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">
          raelog://{{ post.slug }}
        </a>
        {% if post.summary %}
          <div class="dim post-summary">
            {{ post.summary }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
