<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
  {% if page.url == "/" %}
    raelog://home
  {% elsif page.layout == "post" %}
    raelog://{{ page.slug }}
  {% else %}
    raelog://{{ page.title | downcase | replace: " ", "-" }}
  {% endif %}
</title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}

  <!-- discourage indexing for now -->
  <meta name="robots" content="noindex,nofollow" />

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
</head>

<body>
  <div class="page">

    <div class="nav">
      {% unless page.url == "/" %}
        <a href="{{ '/' | relative_url }}">home</a>
      {% endunless %}
      <a href="{{ '/about/' | relative_url }}">about</a>
      <a href="{{ '/archive/' | relative_url }}">archive</a>
      <a href="{{ '/search/' | relative_url }}">search</a>
      <a href="{{ '/feed.xml' | relative_url }}">rss</a>
      <a href="{{ '/links/' | relative_url }}">links</a>
      <a rel="me" href="https://kolektiva.social/@rae">mastodon</a>
    </div>

    {{ content }}

  </div>
</body>
</html>
